<h1 class="title" *ngIf="customer">{{customer.firstName}} {{customer.lastName}}</h1>
<div class="tabs">
  <clr-tabs>
    <!--Approve order tab -->
    <clr-tab>
      <button clrTabLink id="link1">Details</button>
      <clr-tab-content id="content1" *clrIfActive="true" class="tab-content">
        <div class="row flex-items-xs-between date">
          <div class="col-xs-4">Date created: {{customer?.createdAt | date:'medium'}}</div>
          <div class="col-xs-4 text-align-end">Date modified: {{customer?.lastModifiedAt | date:'medium'}}</div>
        </div>
      </clr-tab-content>
      <app-pannel header="Customer Details">
        <div class="row">
          <app-info-box class="col-lg-6 col-md-12 col-sm-12 col-xs-12" header="First Name">
            <p *ngIf="customer?.firstName">{{customer?.firstName}}</p>
          </app-info-box>
          <app-info-box class="col-lg-6 col-md-12 col-sm-12 col-xs-12" header="Last Name">
            <p *ngIf="customer?.lastName">{{customer?.lastName}}</p>
          </app-info-box>
          <app-info-box class="col-lg-6 col-md-12 col-sm-12 col-xs-12" header="Title">
            <p *ngIf="customer?.title">{{customer?.title}}</p>
          </app-info-box>
          <app-info-box class="col-lg-6 col-md-12 col-sm-12 col-xs-12" header="E-mail">
            <p *ngIf="customer?.email">{{customer?.email}}</p>
          </app-info-box>
        </div>
      </app-pannel>
      <app-pannel header="Account Details">
        <app-info-box class="col-lg-6 col-md-12 col-sm-12 col-xs-12" header="New password">
          <div *ngIf="customer?.password">
            <input type="text" class="col-lg-6 col-md-8 col-sm-8 col-xs-8 form-control" [formControl]="password">
            <button class="btn btn-outline">Set Password</button>
          </div>

        </app-info-box>
      </app-pannel>
      <app-pannel header="Company Information"></app-pannel>
    </clr-tab>

    <!-- Addresses -->
    <clr-tab>
      <button clrTabLink>Addresses</button>
      <clr-tab-content *clrIfActive>

      </clr-tab-content>
    </clr-tab>

    <!-- Customer Orders -->
    <clr-tab>
      <button clrTabLink>Orders</button>
      <clr-tab-content *clrIfActive>

      </clr-tab-content>
    </clr-tab>
  </clr-tabs>
</div>
