<h1 class="title">Orders</h1>

<clr-datagrid *ngIf="orders">
  <clr-dg-column *ngFor="let name of columnNames">{{name}}</clr-dg-column>

  <clr-dg-row *clrDgItems="let order of orders.results">
    <clr-dg-cell>{{order.id}}</clr-dg-cell>
    <clr-dg-cell>{{order.orderState}}</clr-dg-cell>
    <clr-dg-cell>{{0.01 * order.totalPrice.centAmount | currency : order.totalPrice.currencyCode : "true"}}</clr-dg-cell>
    <clr-dg-cell>{{order.createdAt | date}}</clr-dg-cell>
    <clr-dg-cell>{{order.customerEmail}}</clr-dg-cell>
  </clr-dg-row>

  <clr-dg-footer>
    {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} orders
    <clr-dg-pagination #pagination [clrDgPageSize]="10"></clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>
