<h1 class="title">Customers</h1>

<clr-datagrid>
  <clr-dg-column *ngFor="let column of columns" [clrDgField]="column.field">{{column.name}}</clr-dg-column>
  <ng-container *ngIf="customers">
    <clr-dg-row *clrDgItems="let customer of customers.results" (click)="selectCustomer(customer.id);">
      <clr-dg-cell>{{customer.id}}</clr-dg-cell>
      <clr-dg-cell>{{customer.firstName || placeholder}}</clr-dg-cell>
      <clr-dg-cell>{{customer.lastName || placeholder}}</clr-dg-cell>
      <clr-dg-cell>{{customer.company || placeholder}}</clr-dg-cell>
      <clr-dg-cell>{{customer.email || placeholder}}</clr-dg-cell>
      <clr-dg-cell>{{(customer.createdAt | date) || placeholder}}</clr-dg-cell>
      <clr-dg-cell>{{(customer.lastModifiedAt | date) || placeholder}}</clr-dg-cell>
    </clr-dg-row>
  </ng-container>

  <clr-dg-footer>
    {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} customers
    <clr-dg-pagination #pagination [clrDgPageSize]="10"></clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>
