<h1 class="title">Orders</h1>

<clr-datagrid>
  <clr-dg-column *ngFor="let column of columns" [clrDgField]="column.field">{{column.name}}</clr-dg-column>
  <ng-container *ngIf="orders">
    <clr-dg-row *clrDgItems="let order of orders.results" (click)="selectOrder(order.id);">
      <clr-dg-cell>{{order.id}}</clr-dg-cell>
      <clr-dg-cell>{{0.01 * order.totalPrice.centAmount | currency : order.totalPrice.currencyCode : "true"}}</clr-dg-cell>
      <clr-dg-cell>{{order.lineItems.length}}</clr-dg-cell>
      <clr-dg-cell class="status">
        <app-order-status [order]="order" about="order"></app-order-status>
      </clr-dg-cell>
      <clr-dg-cell>{{order.createdAt | date}}</clr-dg-cell>
      <clr-dg-cell>{{order.customerEmail}}</clr-dg-cell>
    </clr-dg-row>
  </ng-container>

  <clr-dg-footer>
    {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}} of {{pagination.totalItems}} orders
    <clr-dg-pagination #pagination [clrDgPageSize]="10"></clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>
