@import '~assets/scss/styles';

.login-wrapper {
  background-image: url(/assets/bag.jpg);

  .login-group {
    select,
    input {
      border: 1px solid $light-grey;
      height: 3em;
      padding: 0.5em;
    }

    .select:after {
      top: 1em;
    }
  }

  .error {
    margin: 0.25em 0 2em 0;
  }
}
