<h1 class="title">Manage Order #{{order?.id}}</h1>
<div class="tabs">
  <clr-tabs>
    <clr-tab>
      <button clrTabLink id="link1">Approve Order</button>
      <clr-tab-content id="content1" *clrIfActive="true" class="tab-content">
        <app-pannel header="Order Details">
          <app-info-box data="order">
            <p class="level">Order status:
              <span class="label" [ngClass]="getOrderStateClass()[order?.orderState]">
                {{order?.orderState}}
              </span>
            </p>
            <p>Date created: {{order?.createdAt | date:'medium'}}</p>
            <p>Date modified: {{order?.lastModifiedAt | date:'medium'}}</p>
          </app-info-box>
        </app-pannel>
        <app-pannel header="Customer">
          <div class="row">
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
              <app-info-box header="Details" data="customer">
                <p>{{customer?.firstName}} {{customer?.lastName}}</p>
                <p>{{customer?.email}}</p>
                <p>{{customer?.phone}}</p>
              </app-info-box>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
              <app-info-box header="Shipping Address" data="customer">
                <p>{{shippingAddress?.streetName}} {{shippingAddress?.additionalAddressInfo}}</p>
                <p>{{shippingAddress?.postalCode}} {{shippingAddress?.city}}</p>
                <p>{{shippingAddress?.country}} {{billingAddress?.region}}</p>
              </app-info-box>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
              <app-info-box header="Billing Address" data="customer">
                <p>{{billingAddress?.streetName}} {{billingAddress?.additionalAddressInfo}}</p>
                <p>{{billingAddress?.postalCode}} {{billingAddress?.city}}</p>
                <p>{{billingAddress?.country}} {{billingAddress?.region}}</p>
              </app-info-box>
            </div>
          </div>
        </app-pannel>
        <app-pannel header="Order Items"></app-pannel>
      </clr-tab-content>
    </clr-tab>
    <clr-tab>
      <button clrTabLink>Ship Order</button>
      <clr-tab-content *clrIfActive>
        Ship
      </clr-tab-content>
    </clr-tab>
  </clr-tabs>
</div>
