@import '../../../variables.scss';

.title {
  font-size: 2em;
}
.tabs {
  margin-top: 1.5em;
}
.nav-link {
  &.nav-item {
    text-transform: uppercase;
    margin-right: 2em;
  }
  &.active,
  &:hover {
    box-shadow: inset 0 -3px 0 $yellow;
  }
}

.card.info-block {
  box-shadow: none;
  border-radius: 5px;
}

table td {
  vertical-align: middle;
}

app-pannel {
  p {
    margin-top: 1em;
    line-height: 1em;
    font-weight: 300;
  }
}
